* {
  margin: 0;
  padding: 0;
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");
  font-family: "Noto Sans Mono", monospace;
}
.App {
  width: auto;
  height: 100vh;
  margin: 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background-color: #393e46;
  overflow: hidden;
}
